# Terraform specific local files
.terraform*
terraform.tfstate*
*.log
secret.auto.tfvars
terraform.tfvars
.terraform-lock.hcl
.terraform

# Generic local files
.embeddings.db
my_credentials.*
secrets.env
